@import "https://unpkg.com/normalize.css@8.0.1/normalize.css";
@import "https://unpkg.com/concrete.css@2.0.3/concrete.css";
@import url("https://fonts.googleapis.com/css?family=Merriweather|Raleway");

$header-font: 'Merriweather', serif;
$primary-font: 'Raleway', sans-serif;

@mixin header() {
  font-family: $header-font;
}

body {
  font-family: $primary-font;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  @include header;
}

.content {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 95%;
  margin: 2em;
  position: sticky;
  top: 0;

  a:not(:last-child) {
    margin-right: 1em;    
  }
}

.footer {
  margin-top: auto;
}

.center-text {
  text-align: center;
}

img {
  width: 100%;
}