---
import LinkButton from "./LinkButton.astro";
import ThemeButton from "./ThemeButton.astro";
---

<header class="sticky top-0 z-50 px-6 py-4 border-b-4 w-full max-w-xl bg-light dark:bg-dark">
  <h1 class="text-4xl py-4 font-serif font-bold">Aidan Pinard</h1>
  <div class="flex flex-row">
    <nav class="flex flex-grow flex-row space-x-3">
      <LinkButton href="/">Home</LinkButton>
      <LinkButton href="/about">About</LinkButton>
      <LinkButton href="/contact">Contact</LinkButton>
    </nav>
    <ThemeButton />
  </div>
</header>
